.titled-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.titled-section .section-content {
    overflow: auto;
    width: 100%;
}

.titled-section .section-header{
    padding: 0px 43px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titled-section .section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titled-section .section-title h4 {
    margin: 0em 0em 1em 0em;
    font-weight: 400;
}