.title-bar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 43px;
    color: var(--text-primary);
    background-color: var(--dark-gray);
}

.title-text {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-primary);
    line-height: 1.34;
}

@media screen and (max-width: 970px) {
    .title-bar {
        padding: 12px 25px;
    }
}
