.topic-tag {
    margin: 0 .125em .333em 0;
    padding: 0 17px;
    font-size: 12px;
    border-radius: 2em;
    color: #0969da;
    background-color: var(--light-blue-bg);
    line-height: 22px;
    font-weight: 500;
}

.topic-tag p {
    margin: 0;
}