html {
  background-color: "#e1e2e7";
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', sans-serif;
  background-color: "#e1e2e7";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
